<!doctype html>
<html lang="en">

<head>

    <%include ../partials/header.ejs%>

        <title>Bootstrap Form</title>
</head>

<body>
    <div class="container">
        <div class="row border mt-4 mx-2 border-dark">
            <div class="col-12 my-3">
                <h4>
                    <p class="text-center">Your Details</p>
                </h4>
                <form action="/manageUsers/create" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Email</label>
                            <input type="" class="form-control" placeholder="Enter your Email" name="email" />
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Enter your Password" name="pass"  />
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-6">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter your Name" name="name" />
                        </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label>Contact Number</label>
                        <input type="" class="form-control" placeholder="Enter your Contact Number" name="number"  />
                    </div>
            </div>

            <div class="form-row">
                <div class="col-12 ">
                    <button class="btn btn-primary ">Sign-in</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>


    <%include ../partials/footerScripts.ejs%>

</body>

</html>